# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
.venv/
venv/
env/

# Environment Variables
.env

# IDE
.idea/
.vscode/

# Logs
*.log

# Testing
.pytest_cache/

# Coverage
.coverage
htmlcov/

# OS Files
.DS_Store
Thumbs.db